{% extends "base.html" %}
{% block content %}
    <h1>Some title</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Simple card</h4>
            <p class="card-description">Lorem ipsum dolor sit amet</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Course</th>
                    <th>Progress</th>
                </tr>
                </thead>
                <tbody>

                {% for p in person %}
                <tr>
                    <td id="target">{{ p }}</td>
                    <td>{{ p.age }}</td>
                    <td>{{ p.course }}</td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ p.progress }}%" aria-valuenow="{{ p.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>

                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3">
    <div class="col-12">
        <form id="doit" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <input id="sn" class="btn" type="submit" value="Submit">
        </form>
    </div>
    </div>
{% endblock %}
